/* @media(max-width: 1000px){
    body{
        background-color: aqua;
    }
    h1{
        color: gold;
    }
} */
@media(max-width: 500px){
    header{
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}